.container {
  /* min-height: 550px; */
  max-width: 100%;
}

/* modal */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
  margin-top: 0.5rem;
}
