.container-alert {
  position: relative;
  z-index: 9999;
}

/* modal */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
} 



.modal.open {
  display: flex;
  justify-content: center;
  align-items: center;
} 


/* Ajoutez ces styles à votre feuille de style CSS */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  background-color: #ccc; /* Remplacez par la couleur de fond souhaitée */
}

.footer {
  flex-shrink: 0;
}

